.row img{
    padding: 5px;
    width: 250px;
    height: 230px;
    border-radius: 5px;
    
}
.container{
    margin-left: 20px;
}
.col-sm-3{
    border: 1px solid rebeccapurple;
    margin: 20px;
    border-radius: 5px;
  
}
.col-sm-3 button{
    margin-bottom: 10px;
    margin-left: 10px;
    height: 30px;
    width: 110px;
    border-radius: 3px;
    border-color: rgb(131, 127, 135);
}
.col-sm-3 h3{
    font-size: 20px;
    text-align: center;
    
}
.col-sm-3 h4{
    font-size: 16px;
    text-align: center;
    font-weight: 500;
}

.row{
   
   justify-content: center;
   align-items: center;
}